<div class="panel panel-default">

  <div class="panel-heading">
    <h3 class="panel-title"></h3>

    <div class="panel-body">

      <div class="row">
        <div class="col-sm-12">

          <table class="table table-striped" *ngIf="userService.followers">
            <thead>
            <tr>
              <th>Followers
                <fa-icon [icon]="['fas','minus-circle']" *ngIf="userService.followersWasCached"
                         (click)="userService.clearFollowersCache()" placement="left"
                         ngbTooltip="Clear user cache"></fa-icon>
              </th>
            </tr>
            </thead>
            <tr class="" *ngFor="let follower of userService.followers">
              <td>
                <span class="click username" (click)="loadUser(follower.login)">{{follower.login}}</span>
                <fa-icon [icon]="['fas','cloud-download-alt']" [hidden]="!userService.isUserCached(follower.login)"
                         placement="left" ngbTooltip="Cached"></fa-icon>
              </td>
              <td>
                <button class="btn btn-primary btn-sm following" (click)="changeBaseUsername(follower.login)">User
                </button>
              </td>
            </tr>

          </table>

        </div>
      </div>
    </div>

    <!-- / panel-footer -->

  </div>
</div>
