<div appWasCachedHighlight
     [wasCached]="wasCached">
  Followers {{ wasCached | wasCachedString}}
  <fa-icon [icon]="['fas','cloud']" *ngIf="followersService.isFollowersCached(baseUsername)"
           placement="left"
           ngbTooltip="Followers is cached"></fa-icon>
  <fa-icon [icon]="['fas','cloud-download-alt']" *ngIf="wasCached"
           placement="left"
           ngbTooltip="Followers was cached"></fa-icon>
  <fa-icon [icon]="['fas','minus-circle']"
           (click)="followersService.clearFollowersCache(baseUsername)" placement="left"
           ngbTooltip="Clear followers cache"></fa-icon>
</div>

<h3>Followers <b>{{followers.length}}</b></h3>
<table id="followers">
  <tbody>
  <tr class="row" *ngFor="let follower of followers | filterFollowers:filterString:'login'">
    <td class="col">
      View
      <b><span (click)="showBaseUsername(follower.login)">{{follower.login}}</span></b>
      <fa-icon [icon]="['fas','cloud']" [hidden]="!userService.isUserCached(follower.login)"
               placement="left"
               ngbTooltip="User {{follower.login}} is cached localStorage"></fa-icon>
      <fa-icon [icon]="['fas','cloud-download-alt']" [hidden]="!isUserWasCached(follower.login)"
               placement="left" ngbTooltip="User {{follower.login}} was cached as of last pull"></fa-icon>
    </td>
    <td class="col">
      <button mat-raised-button color="primary" class="following" (click)="changeBaseUser(follower.login)">Switch To
      </button>
    </td>
  </tr>
  </tbody>
</table>
