<div class="container-container">
  <h1 highlight>
    {{title}}
  </h1>
  <div class="">

    <p class="lead">Learning Angular 9 using the GitHub API (v {{version}})</p>

    <div class="row">
      <div class="col-sm-5 align-bottom">

        <form>
          <p>
            https://github.com/<input #usernameInput type="text" name="baseUsername" [(ngModel)]="baseUsername"
                                      value="{{baseUsername}}">
            <button class="btn btn-primary btn-sm" (click)="changeBaseUsername(usernameInput.value)"
                    placement="left"
                    ngbTooltip="Change base user">User
            </button>
          </p>
        </form>

      </div>
      <div class="col-sm-3 align-bottom">
        <button class="btn btn-primary btn-sm" (click)="changeBaseUsernameToDefault()" placement="top"
                ngbTooltip="Change to Default User">Change to Default User
        </button>
      </div>
      <div class="col-sm-2 align-bottom">
        Caching <input type="checkbox" [(ngModel)]="isCaching" (change)="changeCaching(isCaching)">
      </div>
      <div class="col-sm-2 align-bottom">
        <button (click)="clearCache()">Clear cache</button>
      </div>
    </div>
    <!-- /row -->

    <div class="row">

      <div class="col-sm-4">
        <div class=""
             [ngClass]="{'text-info': cachingStatus.userWasCached, 'text-warning': !cachingStatus.userWasCached}">
          userWasCached
        </div>
        <user-detail [baseUsername]="baseUsername"
                     (notifyBaseUsername)='onBaseUsername($event)'></user-detail>
      </div>

      <div class="col-sm-4">
        <div class=""
             [ngClass]="{'text-info': cachingStatus.followersWasCached, 'text-warning': !cachingStatus.followersWasCached}">
          followersWasCached
        </div>
        <app-user-followers [baseUsername]="baseUsername"
                            (notifyBaseUsername)='onBaseUsername($event)'></app-user-followers>
      </div>

      <div class="col-sm-4">
        <div class=""
             [ngClass]="{'text-info': cachingStatus.followingsWasCached, 'text-warning': !cachingStatus.followingsWasCached}">
          followingsWasCached
        </div>
        <app-user-followings [baseUsername]="baseUsername"
                             (notifyBaseUsername)='onBaseUsername($event)'></app-user-followings>
      </div>

    </div>
    <!-- /row -->

    <div class="row">
      <div class="col-sm-6">
        <div class=""
             [ngClass]="{'text-danger': cachingStatus.gistsWasCached, 'text-warning': !cachingStatus.gistsWasCached}">
          gistsWasCached
          <fa-icon [icon]="['fas','minus-circle']" *ngIf="cachingStatus.gistsWasCached"
                   (click)="userService.clearGistsCache()" placement="left"
                   ngbTooltip="Clear gists cache"></fa-icon>
        </div>
        <app-user-gists [baseUsername]="baseUsername"></app-user-gists>
      </div>
      <div class="col-sm-6">
        <app-gist></app-gist>
      </div>
    </div>
    <!-- /row -->

  </div>
</div>
<!-- /fluid-container -->

<footer class="footer">
  <div class="container">

    <div class="row">

      <div class="col-3">
        <a class="" href="https://github.com/lasellers">https://github.com/lasellers</a>
      </div>
      <div class="col-3">
        <a class="" href="https://github.com/{{baseUsername}}">https://github.com/{{baseUsername}}</a>
      </div>
      <div class="col-6">
      </div>

    </div>

    <div class="muted-text">
      See README.md
    </div>

  </div>
</footer>
