<nav class="navbar navbar-expand navbar-light bg-light">
  <a class="navbar-brand" href="#"><h1>{{title}}</h1></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <!--a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a-->
      </li>
    </ul>
    <div class="lead">Learning Angular 9 using the GitHub API (v {{version}})</div>
  </div>
</nav>

<mat-accordion class="advanced-headers-align">

  <mat-expansion-panel [expanded]="settingsToggle === true" (opened)="setSettingsToggle(false)" hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
      </mat-panel-title>
      <mat-panel-description>
        <div>Advanced Settings</div>
        <mat-icon>unfold_more</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <mat-card>

      <form class="">
        https://github.com/
        <input class="mat-input-element"
               type="search"
               placeholder="Search"
               aria-label="Search"
               #usernameInput
               name="baseUsername"
               [(ngModel)]="baseUsername"
               value="{{baseUsername}}">

        <span class="button-container-right">
        <button mat-raised-button color="primary" type="submit"
                (click)="onSwitchToUser(usernameInput.value)"
                placement="bottom"
                ngbTooltip="Change user">User
        </button>
        </span>

        <span class="button-container-left">
        <button mat-raised-button color="accent"
                (click)="switchToUserDefault()"
                placement="bottom"
                ngbTooltip="Change to Default User">Default User
        </button>
        </span>
      </form>

      <mat-label for="filterString" class="">Filter</mat-label>
      <input matInput type="text"
             id="filterString"
             name="filterString"
             placeholder="User filter string..."
             class="" [(ngModel)]="filterString">

    </mat-card>

    <mat-card>
      <b matBadge="{{userService.apiCalls}}" matBadgeOverlap="false">User</b>
      <b matBadge="{{followingsService.apiCalls}}" matBadgeOverlap="false">Followings</b>
      <b matBadge="{{followersService.apiCalls}}" matBadgeOverlap="false">Followers</b>
      <b matBadge="{{gistsService.apiCalls}}" matBadgeOverlap="false">Gists</b>
      <b matBadge="{{gistService.apiCalls}}" matBadgeOverlap="false">Gist</b>
    </mat-card>

    <mat-card>
      <mat-checkbox
        id="local-storage-caching"
        [(ngModel)]="userService.isCaching"
        (change)="changeCaching(userService.isCaching)">Local Storage Caching
      </mat-checkbox>

      <mat-checkbox
        id="cache-only"
        [(ngModel)]="userService.cacheOnly"
        (change)="changeCacheOnly(userService.cacheOnly)">Cache Only
      </mat-checkbox>

      <span class="button-container-left">
      <button mat-raised-button color="accent"
              (click)="clearCache()">Clear local storage cache
      </button>
    </span>

    </mat-card>

  </mat-expansion-panel>

</mat-accordion>

<div class="container-fluid">
  <div class="row">
    <!-- ngIf="!gitShow" -->
    <div class="column">
      <user-detail [baseUsername]="baseUsername"
                   [cacheOnly]="cacheOnly"
                   [isCaching]="isCaching"
                   (notifySwitchToUser)='onSwitchToUser($event)'
                   (notifyMessage)='onMessage($event)'
      ></user-detail>
    </div>

    <!-- ngIf="!gitShow" -->
    <div class="column">
      <app-user-followers
        [baseUsername]="baseUsername"
        [filterString]="filterString"
        [cacheOnly]="cacheOnly"
        [isCaching]="isCaching"
        (notifySwitchToUser)='onSwitchToUser($event)'
        (notifyShowBaseUsername)='onShowUser($event)'
        (notifyMessage)='onMessage($event)'
      ></app-user-followers>
    </div>

    <!--ngIf="!gitShow" -->
    <div class="column">
      <app-user-followings
        [baseUsername]="baseUsername"
        [filterString]="filterString"
        [cacheOnly]="cacheOnly"
        [isCaching]="isCaching"
        (notifySwitchToUser)='onSwitchToUser($event)'
        (notifyShowBaseUsername)='onShowUser($event)'
        (notifyMessage)='onMessage($event)'
      ></app-user-followings>
    </div>

    <div class="column">
      <app-user-gists
        [baseUsername]="baseUsername"
        [cacheOnly]="cacheOnly"
        [isCaching]="isCaching"
        (notifyMessage)='onMessage($event)'
      ></app-user-gists>
    </div>
    <!-- (notifyGitShow)='onGitShow($event)' -->

    <!-- ngIf="gitShow" -->
    <div class="column">
      <app-gist
        [baseUsername]="baseUsername"
        [cacheOnly]="cacheOnly"
        [isCaching]="isCaching"
        (notifyMessage)='onMessage($event)'
      ></app-gist>
      <!-- (notifyGitShow)='onGitShow($event)' -->
    </div>

  </div>
</div>
<!-- /container-fluid -->

<footer class="footer">
  <div class="container">

    <div class="row">

      <div class="col-3">
        <a class="" href="https://github.com/lasellers">https://github.com/lasellers</a>
      </div>
      <div class="col-3">
        <a class="" href="https://github.com/{{baseUsername}}">https://github.com/{{baseUsername}}</a>
      </div>
      <div class="col-6">
      </div>

    </div>

    <div class="muted-text">
      See README.md
    </div>

  </div>
</footer>
