html,
body {
    background: #222;
    color: white;
}

.click {
    text-decoration: underline;
    color: black;
}

.click:hover {
    color: goldenrod;
}

.username {
    padding: .5em;
}

.following {
    padding: .5em;
}