<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">{{title}}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      https://github.com/
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"
             #usernameInput name="baseUsername" [(ngModel)]="baseUsername"
             value="{{baseUsername}}">
      <button class="btn btn-primary my-2 my-sm-0" type="submit"
              (click)="changeBaseUsername(usernameInput.value)"
              placement="bottom"
              ngbTooltip="Change base user">User
      </button>
    </form>

    <div class="col-sm align-bottom">
      Caching <input type="checkbox" [(ngModel)]="userService.isCaching"
                     (change)="changeCaching(userService.isCaching)">
      <button class="btn btn-outline-primary btn-sm my-2 my-sm-0" (click)="clearCache()">Clear cache</button>
      <button class="btn btn-outline-primary btn-sm my-2 my-sm-0" (click)="changeBaseUsernameToDefault()"
              placement="bottom"
              ngbTooltip="Change to Default User">Default User
      </button>
    </div>

  </div>
</nav>

<div class="container-fluid">

  <p class="lead">Learning Angular 9 using the GitHub API (v {{version}})</p>


  <div class="row">

    <div class="col-sm-4">
    </div>

    <div class="col-sm-8">
      <form class="form-inline" role="form">

      <div class="form-group-row">
        <label for="filterString" class="sr-only">Filter</label>
        <input type="text" id="filterString" name="filterString" placeholder="Filter string..." class="form-control mb-2 mr-sm-2" [(ngModel)]="filterString">
      </div>

      </form>

    </div>

  </div>

  <div class="row">

    <div class="col-sm-4">
      <div appWasCachedHighlight [wasCached]="cachingStatus.userWasCached" [classString]="'text-danger'">
        <!--[ngClass]="{'text-info': cachingStatus.userWasCached, 'text-warning': !cachingStatus.userWasCached}"-->
        User {{ cachingStatus.userWasCached | wasCached}}
        <fa-icon [icon]="['fas','cloud']" *ngIf="userService.isUserCached(baseUsername)"
                 placement="left"
                 ngbTooltip="User is cached"></fa-icon>
        <fa-icon [icon]="['fas','cloud-download-alt']" *ngIf="cachingStatus.userWasCached"
                 placement="left"
                 ngbTooltip="Gist was cached"></fa-icon>
        <fa-icon [icon]="['fas','minus-circle']"
                 (click)="userService.clearUserCache(baseUsername)" placement="left"
                 ngbTooltip="Clear user cache"></fa-icon>
      </div>
      <user-detail [baseUsername]="baseUsername"
                   (notifyChangeBaseUsername)='onChangeBaseUsername($event)'></user-detail>
    </div>

    <div class="col-sm-4">
      <div appWasCachedHighlight [wasCached]="cachingStatus.followersWasCached">
        Followers {{ cachingStatus.followersWasCached | wasCached}}
        <fa-icon [icon]="['fas','cloud']" *ngIf="followersService.isFollowersCached(baseUsername)"
                 placement="left"
                 ngbTooltip="Followers is cached {{gist.id}}"></fa-icon>
        <fa-icon [icon]="['fas','cloud-download-alt']" *ngIf="cachingStatus.followersWasCached"
                 placement="left"
                 ngbTooltip="Followers was cached {{gist.id}}"></fa-icon>
        <fa-icon [icon]="['fas','minus-circle']"
                 (click)="followersService.clearFollowersCache(baseUsername)" placement="left"
                 ngbTooltip="Clear followers cache"></fa-icon>
      </div>
      <app-user-followers [baseUsername]="baseUsername"
                          [filterString]="filterString"
                          (notifyChangeBaseUsername)='onChangeBaseUsername($event)'
                          (notifyShowBaseUsername)='onShowBaseUsername($event)'></app-user-followers>
    </div>

    <div class="col-sm-4">
      <div appWasCachedHighlight [wasCached]="cachingStatus.followingsWasCached">
        Followings  {{ cachingStatus.followingsWasCached | wasCached}}
        <fa-icon [icon]="['fas','cloud']" *ngIf="followersService.isFollowersCached(baseUsername)"
                 placement="left"
                 ngbTooltip="Followings is cached"></fa-icon>
        <fa-icon [icon]="['fas','cloud-download-alt']" *ngIf="cachingStatus.followingsWasCached"
                 placement="left"
                 ngbTooltip="Followings was cached"></fa-icon>
        <fa-icon [icon]="['fas','minus-circle']"
                 (click)="followingsService.clearFollowingsCache(baseUsername)" placement="left"
                 ngbTooltip="Clear followings cache"></fa-icon>
      </div>
      <app-user-followings [baseUsername]="baseUsername"
                           [filterString]="filterString"
                           (notifyChangeBaseUsername)='onChangeBaseUsername($event)'
                           (notifyShowBaseUsername)='onShowBaseUsername($event)'></app-user-followings>
    </div>

  </div>
  <!-- /row -->

  <div class="row">
    <div class="col-sm-6">

      <div appWasCachedHighlight [wasCached]="cachingStatus.gistsWasCached">
        Gists {{ cachingStatus.gistsWasCached | wasCached}}
        <fa-icon [icon]="['fas','cloud']" *ngIf="gistService.isGistsCached(baseUsername)"
                 placement="left"
                 ngbTooltip="Gist is cached {{gist.id}}"></fa-icon>
        <fa-icon [icon]="['fas','cloud-download-alt']" *ngIf="cachingStatus.gistsWasCached"
                 placement="left"
                 ngbTooltip="Gist was cached {{gist.id}}"></fa-icon>
        <fa-icon [icon]="['fas','minus-circle']"
                 (click)="gistService.clearGistsCache()" placement="left"
                 ngbTooltip="Clear gists cache"></fa-icon>
      </div>
      <app-user-gists [baseUsername]="baseUsername"></app-user-gists>

    </div>
    <div class="col-sm-6">

      <div>
        Gist {{ cachingStatus.gistWasCached | wasCached}}
        <fa-icon [icon]="['fas','minus-circle']" *ngIf="gistService.isGistsCached(baseUsername)"
                 (click)="gistService.clearGistCache(gist)" placement="left"
                 ngbTooltip="Clear gist cache"></fa-icon>
      </div>

      <app-gist></app-gist>
    </div>
  </div>
  <!-- /row -->

</div>
<!-- /fluid-container -->

<footer class="footer">
  <div class="container">

    <div class="row">

      <div class="col-3">
        <a class="" href="https://github.com/lasellers">https://github.com/lasellers</a>
      </div>
      <div class="col-3">
        <a class="" href="https://github.com/{{baseUsername}}">https://github.com/{{baseUsername}}</a>
      </div>
      <div class="col-6">
        Uncached User Api Calls {{userService.apiCalls}}<br>
        Uncached Followings Api Calls {{followingsService.apiCalls}}<br>
        Uncached Followers Api Calls {{followersService.apiCalls}}<br>
        Uncached Gist Api Calls {{gistService.apiCalls}}<br>
      </div>

    </div>

    <div class="muted-text">
      See README.md
    </div>

  </div>
</footer>
