<div class="card card-default">
  <img src="{{user.avatar_url}}" class="card-img-top">

  <div class="card-heading">
    <h3 class="card-title" *ngIf="user !== null">
      {{user.name}}
      <fa-icon [icon]="['fas','user-cog']" (click)="changeBaseUsername(user.login)"
               placement="left" ngbTooltip="Make user base"></fa-icon>
    </h3>
  </div>

  <div class="card-body">

    <div *ngIf="user == null">
      <p>Select one of the users {{userService.getUserBasename()}} is following to see their information.</p>
    </div>

    <div class="card-text" *ngIf="user !== null">

      <form class="form-horizontal">

        <div class="row user-group">
          <label class="col-sm-4 user-label">Username</label>
          <div class="col-sm-6 user-line">
            {{user.login}}
          </div>
        </div>

        <div class="row user-group">
          <label class="col-sm-4 user-label">Name</label>
          <div class="col-sm-6 user-line">
            {{user.name}}
          </div>
        </div>

        <div class="row user-group">
          <label class="col-sm-4 user-label">Hireable</label>
          <div class="col-sm-8 user-line">{{user.hireable == true ? "Yes" : "No"}}</div>
        </div>

        <div class="row user-group">
          <label class="col-sm-4 user-label">Id</label>
          <div class="col-sm-6 user-line">
            {{user.id}}
          </div>
        </div>

        <div class="row user-group">
          <label class="col-sm-4 user-label">Company</label>
          <div class="col-sm-6 user-line">
            {{user.company}}
          </div>
        </div>

        <div class="row user-group">
          <label class="col-sm-4 user-label">Blog</label>
          <div class="col-sm-6 user-line">
            <a href="{{user.blog}}">{{user.blog}}</a>
          </div>
        </div>

        <div class="row user-group">
          <label class="col-sm-4 user-label">Location</label>
          <div class="col-sm-6 user-line">
            {{user.location}}
          </div>
        </div>

        <div class="row user-group">
          <label class="col-sm-4 user-label">Email</label>
          <div class="col-sm-6 user-line">
            <a href="mailto:{{user.email}}">{{user.email}}</a>
          </div>
        </div>

        <div class="row user-group">
          <label class="col-sm-4 user-label">Bio</label>
          <div class="col-sm-6 user-line">
            {{user.bio}}
          </div>
        </div>

        <div class="row user-group">
          <label class="col-sm-3 user-label">Repos</label>
          <div class="col-sm-3 user-line">{{user.public_repos}}</div>
          <label class="col-sm-3 user-label">Gists</label>
          <div class="col-sm-3 user-line">{{user.public_gists}}</div>
        </div>

        <div class="row user-group">
          <label class="col-sm-3 user-label">Followers</label>
          <div class="col-sm-3 user-line">{{user.followers}}</div>
          <label class="col-sm-3 user-label">Following</label>
          <div class="col-sm-3 user-line">{{user.following}}</div>
        </div>

        <div class="row user-group">
          <label class="col-sm-4 user-label">Created</label>
          <div class="col-sm-8 user-line">{{user.created_at}}</div>
        </div>
        <div class="row user-group">
          <label class="col-sm-4 user-label">Last updated</label>
          <div class="col-sm-8 user-line">{{user.updated_at}}</div>
        </div>

      </form>
      <!-- / form-horizontal -->

    </div>
    <!-- ngIf="user -->
    <div class="card-footer">

    </div>
    <!-- / card-footer -->

  </div>
  <!-- / card-body -->
</div>
<!-- / card card-default -->
