<div class="card card-default">

  <div class="card-heading">
    <h3 class="card-title">Gists</h3>

    <div class="card-body">

      <div class="row">
        <div class="col-sm-12">
          <table class="table table-striped" *ngIf="userService.gists">
            <thead>
            <tr>
              <th>Gists
                <fa-icon [icon]="['fas','minus-circle']" *ngIf="userService.gistsWasCached"
                         (click)="userService.clearGistsCache()" placement="left"
                         ngbTooltip="Clear gists cache"></fa-icon>
              </th>
            </tr>
            </thead>
            <tr class="" *ngFor="let gist of userService.gists">
              <td>{{gist.url}}
                <span class="" (click)="userService.loadUser(gist.login)">{{gist.login}}</span>
                <fa-icon [icon]="['fas','cloud-download-alt']" [hidden]="!userService.isUserCached(gist.login)"
                         placement="left" ngbTooltip="Cached"></fa-icon>
              </td>
              <td>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>

    <!-- / card-footer -->

  </div>
</div>
