<table class="table table-striped" *ngIf="userService.gists">
  <thead>
  <tr>
    <th>Gists
      <fa-icon [icon]="['fas','minus-circle']"
               (click)="userService.clearGistsCache()" placement="left"
               ngbTooltip="Clear gists cache"></fa-icon>
    </th>
  </tr>
  </thead>
  <tbody>
  <tr class="" *ngFor="let gist of userService.gists">
    <td>{{gist.filename}} {{gist.size | bytes:"mb"}}</td>
    <td>{{gist.language}}</td>
    <td>
      <fa-icon [icon]="['fas','minus-circle']"
               (click)="userService.clearGistCache(gist.id)" placement="left"
               ngbTooltip="Clear gist cache {{gist.id}}"></fa-icon>
    </td>
    <td>
      <button (click)="userService.getGist(gist)">get</button>
    </td>
  </tr>
  </tbody>
</table>
