<div class="card card-default">

  <div class="card-heading">
    <h3 class="card-title">Following <fa-icon [icon]="['fas','minus-circle']" *ngIf="userService.followingsWasCached"
                                              (click)="userService.clearFollowingsCache()" placement="left"
                                              ngbTooltip="Clear followings cache"></fa-icon></h3>

    <div class="card-body">

      <div class="row">
        <div class="col-sm-12">
          <table class="table table-striped" *ngIf="userService.followings">
            <thead>
            </thead>
            <tr class="" *ngFor="let following of userService.followings">
              <td>
                <span class="" (click)="userService.loadUserOnly(following.login)">{{following.login}}</span>
                <fa-icon [icon]="['fas','cloud-download-alt']" [hidden]="!userService.isUserCached(following.login)"
                         placement="left" ngbTooltip="Cached"></fa-icon>
              </td>
              <td>
                <button class="btn btn-primary btn-sm following" (click)="changeBaseUsername(following.login)">
                  User
                </button>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>

    <!-- / card-footer -->

  </div>
</div>
