<h3>Following <input type="text" class="form-control form-control-sm" [(ngModel)]="filterString"></h3>
<table class="table table-striped">
  <tbody>
  <tr class="row" *ngFor="let following of followings | filterFollowers:filterString:'login'">
    <td class="col">
      <span (click)="changeBaseUsername(following.login)">{{following.login}}</span>
      <fa-icon [icon]="['fas','cloud']" *ngIf="userService.isUserCached(following.login)"
               placement="left"
               ngbTooltip="User {{following.login}} is cached localStorage"></fa-icon>
      <fa-icon [icon]="['fas','cloud-download-alt']" *ngIf="isUserWasCached(following.login)"
               placement="left" ngbTooltip="User {{following.login}} was cached as of last pull"></fa-icon>
    </td>
    <td class="col">
      <button class="btn btn-primary btn-sm following" (click)="changeBaseUsername(following.login)">User
      </button>
    </td>
  </tr>
  </tbody>
</table>
