@import '~@angular/material/prebuilt-themes/indigo-pink.css';

.container,
.fluid-container {
  padding-bottom: 4em !important;
}

.bytes {
  white-space: pre;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.tooltip {
  z-index: 200
}

b.mat-badge, span.mat-badge {
  margin-left: 2em
}

.button-container-right {
  padding-left: .5em;
  padding-right: 2em;
}

.button-container-left {
  padding-left: 2em;
  padding-right: .5em;
}
